In [1]:
# Dependencies
import pandas as pd
from pathlib import Path

In [2]:
# Save path to the data set as a variable.
shooter_file = Path("../Datasets/SHOOTER.csv")

In [3]:
# Use Pandas to the read data.
shooter_df = pd.read_csv(shooter_file)
shooter_df.head()

,incidentid,age,gender,race,schoolaffiliation,shooteroutcome,shooterdied,injury,chargesfiled,verdict,minorchargedadult,criminalhistory
0,19700105DCHIW,15,Male,NaN,Student,Unknown,No,None,NaN,NaN,NaN,NaN
1,19700105DCSOW,NaN,Male,NaN,Student,Surrendered,No,None,NaN,NaN,NaN,NaN
2,19700105DCUNW,NaN,Male,NaN,Student,Fled/Escaped,No,None,NaN,NaN,NaN,NaN
3,19700206OHJOC,18,Male,Hispanic,Student,Unknown,No,None,NaN,1-5 years,NaN,NaN
4,19700323CADAL,16,Male,Hispanic,Student,Surrendered,No,None,Assault with intent to commit murder,NaN,NaN,NaN

In [4]:
def pull_strings(string):
    if string == "Teen":
        return "Teen"
    elif string == "Adult":
        return "Adult"
    elif string == "Child":
        return "Child"
    elif string == "Minor":
        return "Minor"
    else:
        return None

shooter_df['age_cat'] = shooter_df['age'].apply(pull_strings)
shooter_df.head(10)

,incidentid,age,gender,race,schoolaffiliation,shooteroutcome,shooterdied,injury,chargesfiled,verdict,minorchargedadult,criminalhistory,age_cat
0,19700105DCHIW,15,Male,NaN,Student,Unknown,No,None,NaN,NaN,NaN,NaN,None
1,19700105DCSOW,NaN,Male,NaN,Student,Surrendered,No,None,NaN,NaN,NaN,NaN,None
2,19700105DCUNW,NaN,Male,NaN,Student,Fled/Escaped,No,None,NaN,NaN,NaN,NaN,None
3,19700206OHJOC,18,Male,Hispanic,Student,Unknown,No,None,NaN,1-5 years,NaN,NaN,None
4,19700323CADAL,16,Male,Hispanic,Student,Surrendered,No,None,Assault with intent to commit murder,NaN,NaN,NaN,None
5,19700323CADAL,44,Male,Hispanic,Police Officer/SRO,Surrendered,No,None,Assault with intent to commit murder,NaN,NaN,NaN,None
6,19700415ARPIP,18,Male,NaN,No Relation,Fled/Apprehended,No,None,8 persons charged with shooting with intent to...,NaN,NaN,NaN,None
7,19700415ARPIP,Teen,Male,NaN,No Relation,Fled/Apprehended,No,None,8 persons charged with shooting with intent to...,NaN,NaN,NaN,Teen
8,19700415ARPIP,Adult,Male,NaN,No Relation,Fled/Apprehended,No,None,8 persons charged with shooting with intent to...,NaN,NaN,NaN,Adult
9,19700415ARPIP,Adult,Male,NaN,No Relation,Fled/Apprehended,No,None,8 persons charged with shooting with intent to...,NaN,NaN,NaN,Adult

In [5]:
def replace_strings(string):
    if string == "Teen":
        return 0
    elif string == "Adult":
        return 0
    elif string == "Child":
        return 0
    elif string == "Minor":
        return 0
    elif string == "null":
        return 0
    elif string == "":
        return 0
    else:
        return string

shooter_df['age'] = shooter_df['age'].apply(replace_strings)
shooter_df['age'] = shooter_df['age'].fillna(0)
shooter_df.head(10)

,incidentid,age,gender,race,schoolaffiliation,shooteroutcome,shooterdied,injury,chargesfiled,verdict,minorchargedadult,criminalhistory,age_cat
0,19700105DCHIW,15,Male,NaN,Student,Unknown,No,None,NaN,NaN,NaN,NaN,None
1,19700105DCSOW,0,Male,NaN,Student,Surrendered,No,None,NaN,NaN,NaN,NaN,None
2,19700105DCUNW,0,Male,NaN,Student,Fled/Escaped,No,None,NaN,NaN,NaN,NaN,None
3,19700206OHJOC,18,Male,Hispanic,Student,Unknown,No,None,NaN,1-5 years,NaN,NaN,None
4,19700323CADAL,16,Male,Hispanic,Student,Surrendered,No,None,Assault with intent to commit murder,NaN,NaN,NaN,None
5,19700323CADAL,44,Male,Hispanic,Police Officer/SRO,Surrendered,No,None,Assault with intent to commit murder,NaN,NaN,NaN,None
6,19700415ARPIP,18,Male,NaN,No Relation,Fled/Apprehended,No,None,8 persons charged with shooting with intent to...,NaN,NaN,NaN,None
7,19700415ARPIP,0,Male,NaN,No Relation,Fled/Apprehended,No,None,8 persons charged with shooting with intent to...,NaN,NaN,NaN,Teen
8,19700415ARPIP,0,Male,NaN,No Relation,Fled/Apprehended,No,None,8 persons charged with shooting with intent to...,NaN,NaN,NaN,Adult
9,19700415ARPIP,0,Male,NaN,No Relation,Fled/Apprehended,No,None,8 persons charged with shooting with intent to...,NaN,NaN,NaN,Adult

In [6]:
shooter_df["age"] = shooter_df["age"].astype(int)
shooter_df.dtypes

incidentid           object
age                   int32
gender               object
race                 object
schoolaffiliation    object
shooteroutcome       object
shooterdied          object
injury               object
chargesfiled         object
verdict              object
minorchargedadult    object
criminalhistory      object
age_cat              object
dtype: object

In [7]:
def categorize(age):
    if age < 12 and age > 0:
        return "Child"
    elif age < 21 and age > 12:
        return "Teen"
    elif age > 21:
        return "Adult"
    else:
        return None

shooter_df['age_cat2'] = shooter_df['age'].apply(categorize)
shooter_df.head(10)

,incidentid,age,gender,race,schoolaffiliation,shooteroutcome,shooterdied,injury,chargesfiled,verdict,minorchargedadult,criminalhistory,age_cat,age_cat2
0,19700105DCHIW,15,Male,NaN,Student,Unknown,No,None,NaN,NaN,NaN,NaN,None,Teen
1,19700105DCSOW,0,Male,NaN,Student,Surrendered,No,None,NaN,NaN,NaN,NaN,None,None
2,19700105DCUNW,0,Male,NaN,Student,Fled/Escaped,No,None,NaN,NaN,NaN,NaN,None,None
3,19700206OHJOC,18,Male,Hispanic,Student,Unknown,No,None,NaN,1-5 years,NaN,NaN,None,Teen
4,19700323CADAL,16,Male,Hispanic,Student,Surrendered,No,None,Assault with intent to commit murder,NaN,NaN,NaN,None,Teen
5,19700323CADAL,44,Male,Hispanic,Police Officer/SRO,Surrendered,No,None,Assault with intent to commit murder,NaN,NaN,NaN,None,Adult
6,19700415ARPIP,18,Male,NaN,No Relation,Fled/Apprehended,No,None,8 persons charged with shooting with intent to...,NaN,NaN,NaN,None,Teen
7,19700415ARPIP,0,Male,NaN,No Relation,Fled/Apprehended,No,None,8 persons charged with shooting with intent to...,NaN,NaN,NaN,Teen,None
8,19700415ARPIP,0,Male,NaN,No Relation,Fled/Apprehended,No,None,8 persons charged with shooting with intent to...,NaN,NaN,NaN,Adult,None
9,19700415ARPIP,0,Male,NaN,No Relation,Fled/Apprehended,No,None,8 persons charged with shooting with intent to...,NaN,NaN,NaN,Adult,None

In [8]:
shooter_df['age_cat'] = shooter_df['age_cat'].fillna(shooter_df['age_cat2'])
shooter_df.head(10)

,incidentid,age,gender,race,schoolaffiliation,shooteroutcome,shooterdied,injury,chargesfiled,verdict,minorchargedadult,criminalhistory,age_cat,age_cat2
0,19700105DCHIW,15,Male,NaN,Student,Unknown,No,None,NaN,NaN,NaN,NaN,Teen,Teen
1,19700105DCSOW,0,Male,NaN,Student,Surrendered,No,None,NaN,NaN,NaN,NaN,None,None
2,19700105DCUNW,0,Male,NaN,Student,Fled/Escaped,No,None,NaN,NaN,NaN,NaN,None,None
3,19700206OHJOC,18,Male,Hispanic,Student,Unknown,No,None,NaN,1-5 years,NaN,NaN,Teen,Teen
4,19700323CADAL,16,Male,Hispanic,Student,Surrendered,No,None,Assault with intent to commit murder,NaN,NaN,NaN,Teen,Teen
5,19700323CADAL,44,Male,Hispanic,Police Officer/SRO,Surrendered,No,None,Assault with intent to commit murder,NaN,NaN,NaN,Adult,Adult
6,19700415ARPIP,18,Male,NaN,No Relation,Fled/Apprehended,No,None,8 persons charged with shooting with intent to...,NaN,NaN,NaN,Teen,Teen
7,19700415ARPIP,0,Male,NaN,No Relation,Fled/Apprehended,No,None,8 persons charged with shooting with intent to...,NaN,NaN,NaN,Teen,None
8,19700415ARPIP,0,Male,NaN,No Relation,Fled/Apprehended,No,None,8 persons charged with shooting with intent to...,NaN,NaN,NaN,Adult,None
9,19700415ARPIP,0,Male,NaN,No Relation,Fled/Apprehended,No,None,8 persons charged with shooting with intent to...,NaN,NaN,NaN,Adult,None

In [10]:
clean_shooter_df = shooter_df[["incidentid", "schoolaffiliation", "age_cat", "shooterdied"]]
clean_shooter_df.head(10)

      incidentid   schoolaffiliation age_cat shooterdied
0  19700105DCHIW             Student    Teen          No
1  19700105DCSOW             Student    None          No
2  19700105DCUNW             Student    None          No
3  19700206OHJOC             Student    Teen          No
4  19700323CADAL             Student    Teen          No
5  19700323CADAL  Police Officer/SRO   Adult          No
6  19700415ARPIP         No Relation    Teen          No
7  19700415ARPIP         No Relation    Teen          No
8  19700415ARPIP         No Relation   Adult          No
9  19700415ARPIP         No Relation   Adult          No

In [11]:
clean_shooter_df.rename(columns={'incidentid': "Incident_ID"}, inplace=True)
clean_shooter_df.head()

C:\Users\carlt\AppData\Local\Temp\ipykernel_21168\1808977020.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_shooter_df.rename(columns={'incidentid': "Incident_ID"}, inplace=True)

     Incident_ID schoolaffiliation age_cat shooterdied
0  19700105DCHIW           Student    Teen          No
1  19700105DCSOW           Student    None          No
2  19700105DCUNW           Student    None          No
3  19700206OHJOC           Student    Teen          No
4  19700323CADAL           Student    Teen          No

In [12]:
clean_shooter_df.to_csv("clean_shooter.csv", index=False, header=True)